<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="common/head :: head_fragment(title = '書籍情報一覧', scripts = ~{::script}, links = ~{::link})"></head>
<body>
    <div class="container">
        <h1>書籍情報一覧</h1>
        
<!--        ↓ユーザーの新規登録画面として使う-->
<!--        <div class="float-end">-->
<!--            <a th:href="@{/book/add}" class="btn btn-primary">新規登録はこちら</a>-->
<!--        </div>-->
        
        <form th:action="@{/book/search}" th:object="${bookSearchRequest}" th:method="post">
            <div class="form-group">
                <label for="bookName">書籍名</label>
                <input type="text" class="w-50 form-control" th:field="*{bookName}">
                <label for="holder">保持者</label>
                <input type="text" class="w-50 form-control" th:field="*{holder}">
                <label for="category">カテゴリー</label>
                <input type="text" class="w-25 form-control" th:field="*{category}">
            </div><br />
            <button type="submit" class="btn btn-primary">検索</button>
        </form>
        <div th:if="${booklist}">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>書籍名</th>
                        <th>保持者</th>
                        <th>貸出ステータス</th>
                        <th>カテゴリー</th>
                        <th>更新日時</th>
                        <th>貸出日時</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="book : ${booklist}" th:object="${book}" class="align-middle">
                        <td th:text="*{bookId}"></td>
                        <td th:text="*{bookName}"></td>
                        <td th:text="*{holder}"></td>
                        <td th:text="${lendingFlg == 0 ? ' ' : '貸出中'}"></td>
                        <td th:text="*{category}"></td>
                        <td th:text="${#dates.format(book.updateDate, 'yyyy/MM/dd')}"></td>
                        <td th:text="${#dates.format(book.rentedDate, 'yyyy/MM/dd')}"></td>
                        <td>
                            <a th:href="@{/book/{bookId}/edit}" class="btn btn-primary">編集</a>
                            <a th:href="@{/book/{bookId}/delete}" class="btn btn-secondary">削除</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</body>
</html>